.formDiv{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    // background: #2B2C28;
    min-width: 200px;
    height: 400px;
}
.form{
    padding-right: 100px;
    padding-left: 100px;
    background: #2B2C28;
    // text-align: right;
    color:#f1f1f1;
}
